@inherits LayoutComponentBase

<div class="page">
    <div class="d-flex h-100 w-100">

    <div class="left-menu w-18 overflow h-100">
            <NavMenu />
@*             createElement="elementHandler" *@
    </div>
    <div class="content d-flex w-62">
            <Controls />
   </div>
@*         @ref="controlsRef" *@
    </div>
</div>

@code {
    // private Controls? controlsRef;

    // private void elementHandler()
    // {
    //     controlsRef?.HandleButtonClick();
    // }
}