<div id="left-menu" class="">
    <div>
        <div class="accordion" id="defaultAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <span class="accordion-button m-0 f-s-13" data-bs-toggle="collapse"
                       data-bs-target="#defaultField" aria-expanded="true" aria-controls="collapseOne">
                        Default Fields
                    </span>
                </h2>
                <div class="accordion-collapse collapse show text-center pt-2 pb-2" id="defaultField"
                     data-bs-parent="#defaultAccordion">
                    @foreach (var obj in defautBtn)
                    {
@*                         @onclick
= "createElement" *@
                        <button class="btn btn-outline-secondary btn-sm m-1">
                            <i class="@obj.Icon"></i>
                            @obj.Name
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // [Parameter]
    // public EventCallback element { get; set; }

    // private async Task createElement()
    // {
    //     await element.InvokeAsync();
    // }

    List<buttinCls> defautBtn = new List<buttinCls>
    {
        new buttinCls { Icon = "fa fa-envelope-o", Name = "Email" },
        new buttinCls { Icon = "fa fa-phone-square", Name = "Cellphone" },
        new buttinCls { Icon = "fa fa-pencil", Name = "URL" },
        new buttinCls { Icon = "fa fa-location-arrow", Name = "Region" },
        new buttinCls { Icon = "fa fa-drivers-license-o", Name = "Id Number" }
    };

    public class buttinCls
    {
        public string? Icon { get; set; }
        public string? Name { get; set; }
    };
}