.left-menu {
    background-color: #efe8e8a1;
    height: 100vh;
}

.h-100 {
    height: 100vh !important;
}

.left-menu {
    background-color: #efe8e8a1;
    height: 100vh;
}

.overflow {
    overflow: auto !important;
}